<script src="https://www.google.com/recaptcha/api.js?render=6LcoYqonAAAAAAdfk3SZwIQPMyJOLnSOh-587WLA"></script>
<contact-us id="contact-us"
    class=" 2xl:max-w-[1236px] xl:mx-w-[1080px] lg:max-w-[824px] md:max-w-[768px] sm:max-w-[640px] max-w-full mx-auto flex flex-col justify-center bg-black py-40 md:px-0 px-5">
    <div class="w-full flex-grow">
        <svg viewBox="0 0 1368 356" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_852_2)">
                <path
                    d="M178.004 34.7741V98.5616H141.203V321H67.6021V98.5616H30.8016V34.7741H178.004ZM184.188 34.7741H298.678L316.67 321H243.069V262.119H238.162V321H164.561L184.188 34.7741ZM238.162 198.332H243.069V163.167H238.162V198.332ZM320.321 34.7741H393.922V257.213H426.634V321H320.321V34.7741ZM503.732 34.7741V146.402H508.639V34.7741H586.329L569.155 177.887L586.329 321H508.639V209.781H503.732V321H430.131V34.7741H503.732ZM801.727 34.7741V98.5616H764.926V321H691.325V98.5616H654.525V34.7741H801.727ZM805.883 106.331C805.883 56.8544 832.461 30.6851 880.711 30.6851C929.778 30.6851 957.992 58.081 957.992 106.331V249.035C957.992 297.693 929.778 325.089 880.711 325.089C832.461 325.089 805.883 298.511 805.883 249.035V106.331ZM879.484 101.015V254.759C879.484 259.257 880.302 261.301 881.937 261.301C883.573 261.301 884.391 259.257 884.391 254.759V101.015C884.391 96.1082 883.573 94.4726 881.937 94.4726C880.302 94.4726 879.484 96.1082 879.484 101.015ZM1028.3 34.7741H1101.9V254.759C1101.9 259.257 1102.72 261.301 1104.35 261.301C1105.99 261.301 1106.81 259.257 1106.81 254.759V34.7741H1180.41V249.035C1180.41 297.693 1152.6 325.089 1103.13 325.089C1054.47 325.089 1028.3 298.511 1028.3 249.035V34.7741ZM1337.34 132.909H1263.74V101.015C1263.74 96.5171 1262.92 94.4726 1261.28 94.4726C1259.65 94.4726 1258.83 96.5171 1258.83 101.015V123.913C1258.83 135.771 1259.65 137.815 1291.13 155.398L1302.17 161.531C1329.98 177.069 1337.34 195.878 1337.34 243.719V249.035C1337.34 297.693 1309.12 325.089 1260.06 325.089C1211.4 325.089 1185.23 298.511 1185.23 249.035V222.865H1258.83V254.759C1258.83 259.257 1259.65 261.301 1261.28 261.301C1262.92 261.301 1263.74 259.257 1263.74 255.168V231.043C1263.74 219.185 1262.92 217.55 1234.7 201.603L1221.62 194.243C1193 178.296 1185.23 157.851 1185.23 110.011V106.331C1185.23 56.8544 1211.81 30.6851 1260.06 30.6851C1309.12 30.6851 1337.34 58.081 1337.34 106.331V132.909Z"
                    fill="white" />
            </g>
            <defs>
        </svg>
    </div>
    <form  method="post" action="/contact" id="contact-form" class=" mt-40 md:snap-normal md:snap-center">
        <div class="flex flex-wrap justify-between flex-col md:flex-row text-white font-instrument">
            <div class="md:w-2/5 w-full">
                <div class="mb-5">
                    <label for="name" class="text-3xl block italic">Name</label>
                    <input type="text"
                        class="block w-full text-xl px-4 py-3 mt-2 bg-black border-white border-2 border-solid placeholder:text-white"
                        name="name" id="name" placeholder="your names goes here" />
                </div>
                <div class="mb-5">
                    <label for="email" class="text-3xl block italic">Email</label>
                    <input type="email" name="email" id="email" placeholder="here goes the email"
                        class="block w-full text-xl px-4 py-3 mt-2 bg-black border-white border-2 border-solid placeholder:text-white" />
                </div>
                <div class="mb-5 md:mb-0">
                    <label for="phone" class="text-3xl block italic">Phone</label>
                    <input type="tel" name="phone" id="phone" placeholder="finally your phone number"
                        class="block w-full text-xl px-4 py-3 mt-2 bg-black border-white border-2 border-solid placeholder:text-white" />
                </div>
            </div>
            <div class="md:w-2/5 w-full flex h-56 md:h-auto flex-col">
                <label for="query" class="text-3xl h-auto block italic">Query</label>
                <textarea class="block flex-grow text-xl px-4 py-3 mt-2 bg-black border-white border-2 border-solid"
                    name="query" id="query">tell us your ideas</textarea>
            </div>
            <div class="w-full mt-10">
                <button type="submit" class="border-b-2 border-white border-solid text-4xl">Send</button>
            </div>
        </div>
    </form>
</contact-us>
<script>
    grecaptcha.ready(() => {
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting normally
        
        // Execute the reCAPTCHA and get the token
        grecaptcha.execute('6LcoYqonAAAAAAdfk3SZwIQPMyJOLnSOh-587WLA', { action: 'contact' }).then(token => {
            // Add the token to the form data
            document.getElementById('contact-form').insertAdjacentHTML('beforeend', '<input type="hidden" name="recaptcha_token" value="' + token + '">');
            
            // Submit the form
            this.submit();
        });
    });
});
</script>
<footer class="bg-white font-instrument text-black">
    <div
        class="2xl:max-w-[1236px] xl:mx-w-[1080px] lg:max-w-[824px] md:max-w-[768px] sm:max-w-[640px] max-w-full mx-auto flex flex-col justify-center  py-10 md:px-0 px-5">
        <div class="flex mt-8 md:mb-20 italic text-xl md:text-3xl">
            <div class="flex md:flex-row gap-3 flex-grow w-full justify-between flex-col">
                <a class="block" href="/work">Work</a>
                <a class="block" href="/about">About</a>
                <a class="block" href="/team">Team</a>
                <a class="md:block hidden" href="#">Back to top</a>
            </div>
            <a class="block md:hidden flex-grow w-2/3 text-right" href="#">Back to top</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 text-xl">
            <div class="order-3 md:order-1">
                <a href="/privacy" class=" block">Privacy Policy</a>
                <a href="/terms" class=" block">Terms & Conditions</a>
                <a href="/cookies" class=" block">Cookies Policy</a>
            </div>
            <div class="md:text-right order-1 md:order-2 mt-8 md:mt-0">
                <a class="block" href="mailto:massiveworks@gmail.com">massiveworks@gmail.com</a>
                <a class="flex md:justify-end align-baseline" href="www.linkedin.com/company/massive-works">
                    <div>
                        LinkedIn
                    </div>
                    <div class="w-4 pt-1.5">
                        <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.93934 15.9393L0.87868 17L3 19.1213L4.06066 18.0607L1.93934 15.9393ZM19.5 2C19.5 1.17157 18.8284 0.500001 18 0.500001L4.5 0.5C3.67157 0.5 3 1.17157 3 2C3 2.82843 3.67157 3.5 4.5 3.5H16.5V15.5C16.5 16.3284 17.1716 17 18 17C18.8284 17 19.5 16.3284 19.5 15.5L19.5 2ZM4.06066 18.0607L19.0607 3.06066L16.9393 0.93934L1.93934 15.9393L4.06066 18.0607Z"
                                fill="black" />
                        </svg>
                    </div>
                </a>
                <a class="flex md:justify-end align-baseline" href="www.behance.com">
                    <div>
                        Behance
                    </div>
                    <div class="w-4 pt-1.5">
                        <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.93934 15.9393L0.87868 17L3 19.1213L4.06066 18.0607L1.93934 15.9393ZM19.5 2C19.5 1.17157 18.8284 0.500001 18 0.500001L4.5 0.5C3.67157 0.5 3 1.17157 3 2C3 2.82843 3.67157 3.5 4.5 3.5H16.5V15.5C16.5 16.3284 17.1716 17 18 17C18.8284 17 19.5 16.3284 19.5 15.5L19.5 2ZM4.06066 18.0607L19.0607 3.06066L16.9393 0.93934L1.93934 15.9393L4.06066 18.0607Z"
                                fill="black" />
                        </svg>
                    </div>
                </a>
            </div>
            <div class="self-center order-4 md:order-3 mt-5 md:mt-20 text-base">
                <p class="italic">© 2023 Massiveworks</p>
            </div>
            <div class=" mt-8 order-2 md:order-4 md:mt-20 justify-self-end">
                <p class="w-1/2 ml-auto">
                    lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.
                </p>
            </div>
        </div>
        <div class="mt-10">
            <img src="/public/img/MASSIVE_WORKS_Black.svg" alt="" srcset="">
        </div>
    </div>
</footer>
<script src="/public/js/index.js"></script>
</body>

</html>