<nav
  class="bg-black flex justify-between p-5 md:p-16 pb-0 fixed w-screen top-0"
>
  <div class="z-20">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="87"
      height="64"
      viewBox="0 0 87 64"
      fill="none"
      class="hidden md:block"
    >
      <path
        d="M0 0H20.9704V35.1086H22.0645V0H42.8526V64H27.8086L29.7233 29.2571H28.6292L26.441 64H16.4116L14.2234 29.2571H13.1293L15.044 64H0V0Z"
        fill="white"
      />
      <path
        d="M87 64L66.0296 64L66.0296 28.8914H64.9355L64.9354 64H44.1474L44.1474 0L59.1914 1.31883e-06L57.2767 34.7429H58.3708L60.559 1.43873e-06L70.5884 2.31795e-06L72.7766 34.7429H73.8707L71.956 2.43785e-06L87 3.75668e-06V64Z"
        fill="white"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="55"
      height="40"
      viewBox="0 0 55 40"
      fill="none"
      class="md:hidden"
    >
      <path
        d="M0 0H13.1065V21.9429H13.7903V0H26.7829V40H17.3804L18.5771 18.2857H17.8933L16.5256 40H10.2573L8.88964 18.2857H8.20582L9.4025 40H0V0Z"
        fill="white"
      />
      <path
        d="M54.375 40L41.2685 40L41.2685 18.0571H40.5847L40.5847 40H27.5921L27.5921 0L36.9946 8.24271e-07L35.7979 21.7143H36.4817L37.8494 8.99204e-07L44.1177 1.44872e-06L45.4854 21.7143H46.1692L44.9725 1.52365e-06L54.375 2.34792e-06V40Z"
        fill="white"
      />
    </svg>
  </div>
  <div
    class="text-white font-instrument text-[1.2rem] md:flex items-end gap-[105px] hidden"
  >
    <a href="/work" class="text-white block">WORK</a>
    <a href="/about" class="text-white block">ABOUT</a>
    <a href="/contact" class="text-white block">CONTACT</a>
  </div>
  <div class="md:hidden items-center flex cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="37"
      height="13"
      viewBox="0 0 37 13"
      fill="none"
    >
      <rect width="37" height="6" fill="white" />
      <rect y="10" width="37" height="3" fill="white" />
    </svg>
  </div>
  <div class="md:hidden items-center z-20 flex cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
        <path d="M14.1422 12.0209L2.12131 0L0 2.12132L12.0209 14.1422L3.05176e-05 26.1631L2.12134 28.2844L14.1422 16.2635L26.1629 28.2843L28.2843 26.1629L16.2635 14.1422L28.2843 2.12146L26.163 0.000135422L14.1422 12.0209Z" fill="white"/>
        </svg>
  </div>
  <div id="sideNav"
    class="md:hidden font-instrument place-content-center fixed h-screen w-screen left-full  top-0 z-10 bg-black flex flex-col text-center gap-[49px]"
  >
    <div>
      <a href="/work" class="text-white block">WORK</a>
    </div>
    <div>
      <a href="/about" class="text-white block">ABOUT</a>
    </div>
    <div>
      <a href="/contact" class="text-white block">CONTACT</a>
    </div>
  </div>
</nav>
